.profile__edit-button {
    background-image: url(../../../images/edit-button.svg);
    margin: 0;
    margin: auto;
    padding: 12px;
    border: solid white 1px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 920px) {
    .profile__edit-button {
         padding: 9px;
         margin-bottom: 5px;
    }
}