.grid__love-button {
    margin: 0;
    padding: 0;
    height: 19px;
    width: 21px;
    margin-top: 4px;
    background-color: transparent;
    background-image: url(../../../images/love.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: none;
    cursor: pointer;
}

.grid__love-button:hover {
    opacity: 0.5;
}

.grid__love-button_active {
    background-image: url(../../../images/love-black.svg);
}