.popup__save-button {
    display: flex;
    bottom: 36.51px;
    left: 36px;
    width: 100%;
    height: 50.15px;
    border: #000000 solid 1px;
    background-color: #000000;
    border-radius: 2px;
    margin: auto;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 920px) {
    .popup__save-button {
        bottom: 25px;
        width: 100%;
        height: 46px;  
        left: 22px; 
    }
}